# =========================
# Virtual Environment
# =========================
venv/
.env/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Django
# =========================
db.sqlite3
media/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Environment & Secrets
# =========================
.env

# =========================
# Collected Static Files
# =========================
assets/static/
assets/media/

# =========================
# Scratch / Temp Files
# =========================
scratch/
git_info.txt
TODO.md
